body {
  text-align: center;
}


#fairy_lights {
  display: inline-flex;
  overflow: hidden;
}

.bulb {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: grey;
  margin: 0 25px;
  position: relative;
}

.bulb:not(:last-child):after {
  content: '';
  width: 100px;
  border: 2px solid black;
  height: 50px;
  border-radius: 0 0 60% 60%;
  position: absolute;
  top: -23px;
  z-index: -1;
}


#control_panel {
  margin-top: 30px;
}

#switch {
  border-radius: 15px;
  width: 100px;
  margin: auto;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 2px #912b04;
}





.blue {
  background: blue;
  animation: glow-blue 1s infinite alternate;
}

.green {
  background: green;
  animation: glow-green 1s infinite alternate;
}

.red {
  background: red;
  animation: glow-red 1s infinite alternate;
}

.white {
  background: white;
  animation: glow-white 1s infinite alternate;
}

.yellow {
  background: yellow;
  animation: glow-yellow 1s infinite alternate;
}


@keyframes glow-blue {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 15px 7px blue;
  }
}

@keyframes glow-yellow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 15px 7px yellow;
  }
}

@keyframes glow-green {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 15px 7px green;
  }
}

@keyframes glow-red {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 15px 7px red;
  }
}

@keyframes glow-white {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 15px 7px white;
  }
}
