body {
  text-align: center;
}


#fairy_lights {
  display: inline-flex;
  overflow: hidden;
}

.bulb {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: grey;
  margin: 0 25px;
  position: relative;
}

.bulb:not(:last-child):after {
  content: '';
  width: 100px;
  border: 1px solid black;
  height: 50px;
  border-radius: 0 0 60% 60%;
  position: absolute;
  top: -23px;
  z-index: -1;
}
